---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import '../_sass/variables';

@import '../bower_components/compass-breakpoint/stylesheets/breakpoint';
@import '../bower_components/susy/sass/susy';
@import '../bower_components/sanitize-css/sanitize.scss';

@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700,400italic|Source+Code+Pro|Work+Sans:700);

@import '../_sass/layout';

@import '../_sass/typography';
@import '../_sass/typography/headers';
@import '../_sass/typography/tables';
@import '../_sass/typography/highlight';

@import '../_sass/modules/tree';
@import '../_sass/modules/warning';
@import '../_sass/modules/nav-list';
@import '../_sass/modules/block-list';
@import '../_sass/modules/button';

@import '../_sass/modules/calendar';
@import '../_sass/modules/footnotes';
@import '../_sass/modules/motd';
@import '../_sass/modules/sidenote';

@import '../_sass/print';

@import '../_sass/shame';

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 0em 10px;
  padding: 0em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

ul, ol {
	list-style-position: inside;
}