---
layout: default
header: text
header-text: "CSE131 SU2018: Computer Science I"
header-class: site-header--narrow
---

{% include nav.html %}

<section class="site-mission">
	<h2 class="nocount">Class Information</h2>
	<p>
		The primary goal of CSE131 is to train your mind to think like a computer scientist. Adding this mode of thought to your repertoire can help you solve problems in other areas as well.
You will learn how to solve problems by decomposing them into logical pieces, and you will learn how to capture common patterns in order to save time and effort in the development process. You will also discover that computer programming is an art, as you strive not only for solutions that not only "work" but also are "elegant." Concepts are taught in the object-oriented programming paradigm. </p>
<p>
CSE131 is not an easy course, but students find it rewarding and well worth the effort. Expect to spend an average of 10 hours per week outside of class on CSE131 coursework.</p>
<p>
CSE131 is the recommended first course for computer science majors, minors, or anyone else who is interested in an introduction to computer science concepts.</p>
</section>

<!--	
<section class="motd">
	<h2 class="nocount">Message of the Day</h2>
	<ul class="block-list motd__list">
	{% for motd in site.data.motds limit:20 %}
		<li class="block-list__item motd__item">
			{{ motd }}
		</li>
	{% endfor %}
	</ul>
</section>-->

<section class="logistics">
	<h2 class="nocount">Logistics</h2>
	<p>
		This is a Lecture-less class, please watch videos and attend studio to keep up with the curriculum
	</p>

	<h2 class="nocount">Materials</h2>
	<p>
		The <a href="http://introcs.cs.princeton.edu/java/home/">class textbook</a> can be found online for free.
	</p>
</section>
