// Sanitize.css variables
$root-font-family: "Crimson Text", sans-serif;
$root-line-height: 1.6;
$root-font-size: 18px;
$root-background-color: #f8f8f8;
$root-color: #333;

// The responsive stuff
$break-screen: min-width 100rem;

// Colors :)
$link-color: #1d7aff;
$sidenote-border: #9A5E82;
$target-background-color: #C8777B;

$button-background-color: #69264F;
$button-color: white;

	$primary-button-background-color: #2E6E27;
	$primary-button-color: white;

	$alt-button-background-color: #A4A34F;
	$alt-button-color: white;