<nav class="site-nav">
<ul class="nav-list">
	{% if page.url == "/" %}
	<li class="nav-list__item nav-list__item--current">
	{% else %}
	<li class="nav-list__item">
	{% endif %}
		<a href="{{ site.baseurl }}/">
			Home
		</a>
	</li>

	{% for node in site.pages limit:5 %}
		{% if node.layout != "null" and node.url != "/" %}
			{% assign ext = node.path | slice: -3, 3 %}
			{% if ext != "xml" and ext != "css" %}
				{% if page.url == node.url %}
				<li class="nav-list__item nav-list__item--current">
				{% else %}
				<li class="nav-list__item">
				{% endif %}
					<a href="{{ site.baseurl }}{{ node.url }}">
						{{ node.title }}
					</a>
				</li>
			{% endif %}
		{% endif %}
	{% endfor %}
	<li class="nav-list__item">
		<a href="http://google.github.io/styleguide/javaguide.html">
			Style Guide
		</a>
	</li>
	
	<li class="nav-list__item">
		<a href="https://piazza.com/wustl/summer2018/cse131cse501n">
			Piazza
		</a>
	</li>
		<li class="nav-list__item">
		<a href="https://wustl.blackboard.com/">
			Blackboard
		</a>
	</li>
	<li class="nav-list__item">
		<a href="https://bitbucket.org/">
			BitBucket
		</a>
	</li>
	
	<li class="nav-list__header">Weeks
		<ol>
			{% for week in site.weeks limit:11 %}
			{% if page.url == week.url %}
			<li class="nav-list__item nav-list__item--current">
			{% else %}
			<li class="nav-list__item">
			{% endif %}
				<a href="{{ site.baseurl }}{{ week.url }}">
					{{ week.week }}: {{ week.title }}
				</a>
			</li>
			{% endfor %}
		</ol>
	</li>
	<li class="nav-list__header">Guides
		<ul>
			<li class="nav-list__item"><a href="{{ site.baseurl }}/weeks/0/prep/#install-java">Installing Eclipse</a>
			<li class="nav-list__item"><a href="{{ site.baseurl }}/weeks/0/prep/#access-your-repository">Accessing Your Repository</a>
		</ul>
	</li>
	<li class="nav-list__header">Reference
		<ol>
			{% for resource in site.data.resources limit:20 %}
			<li class="nav-list__item">
				<a href="{{ resource.url }}" target="blank">
					{{ resource.title }}
				</a>
			</li>
			{% endfor %}
		</ol>
	</li>
</ul>
</nav>
