<!DOCTYPE html>
<html>

{% include head.html %}

<body>
	<div class="wrapper">
			{% include header.html %}

			<div class="container">
				{{ content }}
			</div>

			{% include footer.html %}
	</div>
	<script type="text/javascript" src="{{ "/js/highlight.pack.js" | prepend: site.baseurl }}"></script>
	<script type="text/x-mathjax-config">
		hljs.initHighlightingOnLoad();
		MathJax.Hub.Config({
		tex2jax: {
			inlineMath: [ ["$", "$"], ["\\(", "\\)"] ],
			processEscapes: true
		}
		});
	</script>
	<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</body>
</html>
