.nav-list {
	ol, ul {
		padding-left: 0;
		font-size: 85%;
	}
}

.nav-list__header {
	display: block;
	font-weight: bold;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;

	& + .nav-list__header {
		margin-top: 0rem;	
	}
}

.nav-list__item {
	font-weight: normal;
}

.nav-list__item--current {
	font-weight: bold;
}