.sidenote {
	border-left: 0.2rem solid $sidenote-border;

	font-size: 0.8rem;
	margin: 0 0 1.5rem -1.7rem;
	padding: 0 0 1.5rem 1.5rem;

	@include breakpoint($break-screen) {
		@include span(4 of 6);
		margin: 0 (0 - span(4 of 6)) gutter(6) gutter(6);
		padding-left: gutter(4);

		float: right;
		clear: right;

		img {
			max-width: 100%;
		}
	}
}